@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Varela+Round&display=swap');

:root {
  --bg-color: #F78888;
  --header-color: #ECECEC;
  --card-color: #ECECEC;
  --text-color: #1c1c1e;
  --accent-color: #F3D250;
}

/* * {
  border: 1px solid black;
} */

body {
  display: grid;
  grid-template-rows: min-content min-content;
  row-gap: 10px;
  align-content: center;
  justify-content: center;
  background-color: var(--bg-color);
}

header {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  font-family: "Nunito", sans-serif;
  color: var(--header-color);
}

#books-container {
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  row-gap: 15px;
}

.book {
  display: grid;
  grid-template-columns: minmax(auto, 400px) 200px auto 125px auto;
  column-gap: 25px;
  font-family: "Varela Round", serif;
  font-size: 1.10rem;
  background-color: var(--card-color);
  color: var(--text-color);
  border-radius: 10px;
  border-left: 10px solid var(--accent-color);
  padding: 15px;
  align-items: center;
}

.book div:not(:first-child) {
  display: grid;
  justify-content: center;
}

.remove {
  border: none;
  background-color: rgb(255, 255, 255, 0);
  cursor: pointer;
}